<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}"></title>
</head>
<body>

    <p th:text="'Name: ' + ${person.getName()}"></p>
    <p th:text="'Year of birth: ' + ${person.getYear_of_birth()}"></p>
    <p th:text="'Email: ' + ${person.getEmail()}"/>


    <div th:if="${books.isEmpty()}">This person don't have a books</div>

    <div th:if="${!books.isEmpty()}" th:each="book : ${books}" th:text="'Books:'">

        <a th:text="${book.getTitle()} + ', '+ ${book.getAuthor()} + ', ' + ${person.getYear_of_birth()}"></a>

    </div>


    <hr/>

    <a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}"><button>Edit</button></a>

    <br/>
    <br/>

    <form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPerson_id()})}">
        <input type="submit" value="Delete">
    </form>
</body>
</html>